body {
    margin: 0;
    overflow: hidden; /* Evita el desplazamiento */
}

canvas {
    display: block;
}

#container {
    position: relative;
    z-index: 1; /* Para que el contenido esté por encima del video */
}

#video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Envía el video al fondo */
    transform: translate(-50%, -50%);
}
